.section-video-content{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    align-items: flex-start;
}

.section-video-aula{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1%;
}

.title-video-aula{
    font-family:Arial, Helvetica, sans-serif ;
    width: 100%;
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.section-video-aula iframe{
    border-radius: 1%;
    border: 3px solid rgb(241, 239, 239);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.videos-separador{
    height: 1.5px;
    width: 100%;
    background-color: rgb(71, 71, 80);
}